.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #9a9a9a;
}
/* FORM CSS*/
form {
  color: white;
  border-radius: 5px;
  margin: 4em auto;
  padding: 0 0 3em 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

label {
  padding: .5em;
  text-align: left;
}
input {
  box-sizing: border-box;
  width: 100%;
  padding: .5em;
  border-radius: 2px;
  border: none;
  outline: none;
}
button {
  margin: 2em 0 0 0;
  padding: .5em 4em;
  border-radius: 20px;
  border: none;
  background-color: #4faaba;
  color: white;
  box-sizing: border-box;
}

@media only screen and (min-width:768px) {
  form {
    width: 30%;
  }
}